<!--リスト 13.24:マイクロポストをユーザーのshowページ (プロフィール画面) に追加する-->
<!--app/views/users/show.html.erb-->

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>


<!--リスト 7.10:ユーザーのshowビューにサイドバーを追加する-->
<!--app/views/users/show.html.erb-->

<!--< % provide(:title, @user.name) %>-->
<!--<div class="row">-->
<!--  <aside class="col-md-4">-->
<!--    <section class="user_info">-->
<!--      <h1>-->
<!--        < %= gravatar_for @user %>      <!--    メソット名がgravatar_for。引数が @user-->
<!--        < %= @user.name %>    <!--< %= %>　：変数の値などに使用する　-->
                          <!--デフォルトでは、メールなどは表示しない    -->
<!--      </h1>-->
<!--    </section>-->
<!--  </aside>-->
<!--</div>-->


<!--例えば、下記のコードを入力すると、-->
<!--< % %>　：変数の定義などに使用する-->
<!--< %= %>　：変数の値などに使用する。評価した結果を画面に出力するので、 %= -->

<!--top.html.erb-->
<!--< % language = "Ruby" %>-->
<!-- <P>< %= language %>を学ぶ</P>-->

<!--この記事、絶対に要チェック-->
<!--https://qiita.com/natsumi_23/items/42f4b075e417aaf925df-->



<!--< %= gravatar_for @user %>      <!--    メソット名がgravatar_for。引数が @user-->
<!--これって、どういう意味？下の関数との関連性は？-->

<!--app/helpers/users_helper.rb-->
<!--module UsersHelper-->

<!--def gravatar_for    #  引数で与えられたユーザーのGravatar画像を返す--> 
    <!--gravatar_id =  Digest::MD5 うんぬん・・-->
    <!--gravatar_url =  -->

<!---------------------------------------------------------------------------->


<!--リスト 7.8:ユーザー表示ビューに名前とGravatarを表示する-->
<!--app/views/users/show.html.erb-->

<!--<    % provide(:title, @user.name) %>-->
<!--<h1>-->
<!--  <    %= gravatar_for @user %>-->
<!--  <    %= @user.name %>-->
<!--</h1>-->



<!--リスト 7.4:ユーザー情報を表示するための仮のビュー-->
<!--app/views/users/show.html.erb-->

<!--<    %= @user.name %>, <    %= @user.email %>-->