<!--リスト 7.1:サイトのレイアウトにデバッグ情報を追加する-->
<!--app/views/layouts/application.html.erb-->

<!--#　 追加したパーシャル(shimとheader)で、コードを分割表記して、可読性を上げている　-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <!-- 下の行では、コロンやキーやハッシュが使われている。カッコが省略されてる-->
    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>      
    <%= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>
                               
    <%= render 'layouts/shim' %>    <!--# 追加した行-->
  </head>
  <body>
    <%= render 'layouts/header' %>    <!--# 追加した行-->
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>    <!--# 追加した行-->
      <%= debug(params) if Rails.env.development? %> <!--リスト 7.1:サイトのレイアウトにデバッグ情報を追加する-->
    </div>
  </body>
</html>







<!--リスト 5.12:レイアウトにshimとheaderのパーシャルを追加する-->
<!--リスト 5.16:レイアウトにfooterパーシャルを追加する-->
<!--app/views/layouts/application.html.erb-->

<!--#　 追加したパーシャル(shimとheader)で、コードを分割表記して、可読性を上げている　-->


<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title><    %= full_title(yield(:title)) %></title>-->
<!--    <    %= csrf_meta_tags %>-->
    
    <!-- 下の行では、コロンやキーやハッシュが使われている。カッコが省略されてる-->
<!--    <    %= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>      -->
<!--    <    %= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>-->
                               
    <!--#　↓↓↓　追加した行　↓↓↓　-->
<!--    <    %= render 'layouts/shim' %>-->
    
<!--  </head>-->
<!--  <body>-->
    
    <!--#　↓↓↓　追加した行　↓↓↓　-->
<!--    <    %= render 'layouts/header' %>-->
<!--    <div class="container">-->
<!--      <    %= yield %>-->

      <!--#　↓↓↓　追加した行　↓↓↓　-->
<!--      <    %= render 'layouts/footer' %>-->
      
<!--    </div>-->
<!--  </body>-->
<!--</html>-->



<!--リスト 5.12:レイアウトにshimとheaderのパーシャルを追加する-->




<!--リスト 5.1:構造を追加したWebサイトのレイアウト-->
<!--app/views/layouts/application.html.erb-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title><  %= full_title(yield(:title)) %></title>-->
<!--    <  %= csrf_meta_tags %>-->
    <!-- 下の行では、コロンやキーやハッシュが使われている。カッコが省略されてる-->
<!--    <  %= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>      -->
<!--    <  %= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>-->
    
    <!--[if lt IE 9]>
<!--      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">-->
<!--      </script>-->
<!--    <![endif]--       >      -->
    
<!--  </head>-->
<!--  <body>-->
    
<!--    <header class="navbar navbar-fixed-top navbar-inverse">-->
<!--      <div class="container">-->
<!--        <    %= link_to "sample app", '#', id: "logo" %>-->
<!--        <nav>-->
<!--          <ul class="nav navbar-nav navbar-right">-->
<!--            <li><    %= link_to "Home",   '#' %></li>-->
<!--            <li><    %= link_to "Help",   '#' %></li>-->
<!--            <li><    %= link_to "Log in", '#' %></li>-->
<!--          </ul>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </header>-->
    
<!--    <div class="container">-->
<!--      <    %= yield %>-->
<!--    </div>-->
<!--  </body>-->
<!--</html>-->




<!--  ここから、Chap04   -->


<!--リスト 4.3:full_titleヘルパーを使ったWebサイトのレイアウト green-->
<!--app/views/layouts/application.html.erb-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title><    %= full_title(yield(:title)) %></title>-->
<!--    <    %= csrf_meta_tags %>-->
<!--    <    %= stylesheet_link_tag    'application', media: 'all',-->
<!--                               'data-turbolinks-track': 'reload' %>-->
<!--    <    %= javascript_include_tag 'application',-->
<!--                               'data-turbolinks-track': 'reload' %>-->
<!--  </head>-->
<!--  <body>-->
<!--    <    %= yield %>-->
<!--  </body>-->
<!--</html>-->






<!--リスト 3.35:サンプルアプリケーションのレイアウト green-->
<!--app/views/layouts/application.html.erb-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title><    %= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>-->
<!--    <    %= csrf_meta_tags %>-->
<!--    <    %= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>-->
<!--    <    %= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->
<!--  </head>-->

<!--  <body>-->
<!--    <    %= yield %>-->
<!--  </body>-->
<!--</html>-->




<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>SampleApp</title>-->
<!--    < %= csrf_meta_tags %>-->

<!--    < %= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
<!--    < %= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->
<!--  </head>-->

<!--  <body>-->
<!--    < %= yield %>-->
<!--  </body>-->
<!--</html>-->
